/* ===== 앉았다 일어났다 애니메이션 ===== */

@keyframes rightSitDown {
    80% {
        top: 517px;
        transform: scale(1);
    }
    90% {
        top: 533px;
        transform: scale(1, 0.6);
    }
    100% {
        top: 517px;
        transform: scale(1);
    }
}
@keyframes leftSitDown {
    80% {
        top: 555px;
        transform: scale(1);
    }
    90% {
        top: 559px;
        transform: scale(1, 0.8);
    }
    100% {
        top: 555px;
        transform: scale(1);
    }
}

@keyframes moveDown {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(0, 3px);
    }
    40% {
        transform: translate(0, 0);
    }
    60% {
        transform: translate(0, 3px);
    }
    80% {
        transform: translate(0, 0);
    }
    90% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, 0);
    }
}

#rightLeg {
    top: 517px;
    animation: rightSitDown 5s infinite;
}
#leftLeg {
    top: 555px;
    animation: leftSitDown 5s infinite;
}

#right_wing_box, #group_eye, #topButton, #band, #hat, #left_wing_box {
    animation: moveDown 5s infinite;
}

/* ===== 앉았다 일어났다 애니메이션 ===== */

/* ===== 눈동자 좌우로 움직이는 애니메이션 ===== */

@keyframes pupilSideMove {
    70% {
        transform: translate(0, 0);
    }
    85% {
        transform: translate(15px, 0);
    }
    90% {
        transform: translate(15px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes eyeSideMove {
    70% {
        transform: translate(0, 0);
    }
    85% {
        transform: translate(10px, 0);
    }
    90% {
        transform: translate(10px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

#left_pupil, #right_pupil, #left_close_eye, #right_close_eye {
    animation: pupilSideMove 8s infinite;
}
#left_eye, #right_eye {
    animation: eyeSideMove 8s infinite;
}

/* ===== 눈동자 좌우로 움직이는 애니메이션 ===== */

/* ===== 눈 깜빡이는 애니메이션 ===== */

@keyframes eyeOpen {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(0, 3px);
    }
    40% {
        transform: translate(0, 0);
    }
    50% { opacity: 0; }
    51% { opacity: 1; }
    53% { opacity: 1; }
    54% { opacity: 0; }
    60% {
        transform: translate(0, 3px);
    }
    80% {
        transform: translate(0, 0);
    }
    90% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes eyeClose {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(0, 3px);
    }
    40% {
        transform: translate(0, 0);
    }
    50% { opacity: 1; }
    51% { opacity: 0; }
    53% { opacity: 0; }
    54% { opacity: 1; }
    60% {
        transform: translate(0, 3px);
    }
    80% {
        transform: translate(0, 0);
    }
    90% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, 0);
    }
}

#group_pupil {
    animation: eyeClose 5s infinite;
}
#group_close_eye {
    animation: eyeOpen 5s infinite;
}

/* ===== 눈 깜빡이는 애니메이션 ===== */

/* ===== 날개 터는 애니메이션 ===== */

@keyframes flapMove {
    96% {
        transform: rotate(0);
    }
    97% {
        transform: rotate(10deg);
    }
    98% {
        transform: rotate(0);
    }
    99% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0);
    }
}

#right_wing, #left_wing {
    transform-origin: 50px 330px;
    animation: flapMove 10s infinite;
}

/* ===== 날개 터는 애니메이션 ===== */