#pupil_svg {
    width: 80px;
    height: 120px;
}
#eye_svg {
    width: 120px;
    height: 160px;
}
#close_eye_svg {
    width: 60px;
    height: 60px;
}
#wing_svg {
    width: 230px;
    height: 410px;
}
#top_button_svg {
    width: 80px;
    height: 50px;
}
#band_svg {
    width: 500px;
    height: 225px;
}
#hat_svg {
    width: 600px;
    height: 390px;
}
#left_leg_svg {
    width: 120px;
    height: 65px;
}
#right_leg_svg {
    width: 120px;
    height: 110px;
}
#shoes_svg {
    width: 190px;
    height: 90px;
}
#tears_svg {
    width: 60px;
    height: 40px;
}