<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shoes</title>
    <link rel="stylesheet" href="../css/components.css">
</head>
<body>
    <svg id="shoes_svg">
        <path d="M76,10 C30,0 0,36 23.5,77 C50,82 130,82 171,77 C172,55 152,20 146.5,12" fill="white" stroke="black" stroke-width="5.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M76,10 C93,14 108,30 112,35" fill="transparent" stroke="black" stroke-width="5.5" stroke-linecap="round"/>
    </svg>
</body>
</html>