<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wing</title>
    <link rel="stylesheet" href="../css/greeny.css">
</head>
<body>
    <svg id="wing">
        <path d="M164,287 C175,300 165,330 160,340 C100,460 -75,375 70,206 C90,186 175,64 195,20 C226,40 235,100 180,178 C200,200 184,264 164,287z" fill="white" stroke="black" stroke-width="5.5" stroke-linejoin="round"/>
        <path d="M180,178 C170,192 150,220 138,233" stroke="black" stroke-width="5.5" stroke-linecap="round"/>
        <path d="M164,287 C164,287 155,300 143,310" stroke="black" stroke-width="5.5" stroke-linecap="round"/>
    </svg>
</body>
</html>